  <div class="addthis_toolbox addthis_default_style" addthis:url="http://www.camerasrj.com.br/">
    <a class="addthis_button_google_plusone"></a>
    <a class="addthis_button_facebook_send"></a>
    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
    <a class="addthis_button_pinterest"></a>
    <a class="addthis_button_tweet"></a>
    <a class="addthis_counter addthis_pill_style"></a>
  </div>
  <script type="text/javascript">var addthis_config = {data_track_clickback:true,data_ga_property:'UA-10270235-3',data_ga_social:true};</script>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=lccro"></script>
