<section id="google-ads-vertical" class="hidden-phone">
  <div style="width:160px; height:600px; overflow:hidden;">
    <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
    </script>
    <ins class="adsbygoogle"
        style="display:inline-block;width:160px;height:600px"
        data-ad-client="ca-pub-7232537493483974"
        data-ad-slot="4997183664"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</section>
