<section id="google-ads-vertical" class="hidden-phone">
  <h3>Publicidade</h3>
  <br />
  <div style="width:160px; height:600px; overflow:hidden;">
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-7232537493483974";
    /* Vertical - camrj */
    google_ad_slot = "1698788241";
    google_ad_width = 160;
    google_ad_height = 600;
    //--></script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>
</section>
