  <header id="page-header" role="banner" class="navbar navbar-fixed-top">
    <section id="header-well" class="well" style="display:none;margin-bottom: 0">
      <h1><a href="/">Câmeras da CET-RIO (CET-RJ) em tempo real</a></h1>
      <h2>Condições do trânsito ao vivo e de graça!</h2>
    </section>
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <h3 style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;" class="brand">Câmeras da CET-RIO by <strong>CyberLeo</strong></h3>

        <div class="nav-collapse">
          <form class="navbar-search" action="http://www.google.com.br/cse" target="_blank">
            <input type="hidden" name="cx" value="partner-pub-7232537493483974:4067985243">
            <input type="hidden" name="ie" value="UTF-8">
            <input type="text" name="q" size="80" id="googleSearchBox"
                   placeholder="Clique aqui para buscar no Google"
                   class="search-query">
            <button style="margin:0" class="btn btn-mini btn-primary" type="button" name="sa">Pesquisar</button>
          </form>

          <ul class="nav pull-right">
            <li>
              <a href="http://cyberleo.com.br/" accesskey="1" title="P&aacute;gina inicial">
                <i class="icon-home icon-white"></i>&nbsp;Home
              </a>
            </li>
            <li>
              <a href="http://cyberleo.com.br/about" accesskey="2" title="Quem somos n&oacute;s?">
                <i class="icon-info-sign icon-white"></i>&nbsp;Sobre...
              </a>
            </li>
            <li>
              <a href="http://cyberleo.com.br/contato" accesskey="3" title="Formas de contato">
                <i class="icon-envelope icon-white"></i>&nbsp;Contato
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- github banner -->
    <!-- a href="http://github.com/lccro">
      <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 9999;"
      src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"
      alt="Fork me on GitHub"></a -->
  </header>
