<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/js.js"></script>
<script type="text/javascript">
$(document).ready(function () {
  $('a.addthis_button_facebook_like').bind('edge.create', function (targetUrl) {
    _gaq.push(['_trackSocial', 'facebook', 'like', targetUrl]);
  });
  $('a.addthis_button_facebook_like').bind('edge.remove', function (targetUrl) {
    _gaq.push(['_trackSocial', 'facebook', 'unlike', targetUrl]);
  });
  $('a.addthis_button_tweet').bind('tweet', function (event) {
    if (event) {
      var targetUrl;
      if (event.target && event.target.nodeName == 'IFRAME') {
        targetUrl = extractParamFromUri(event.target.src, 'url');
      }
      _gaq.push(['_trackSocial', 'twitter', 'tweet', targetUrl]);
    }
  });
});
</script>
