  <section id="twitter-lei-seca">
    <%- include google-ads-square.html -%>
    <hr/>
    <h4>Twitter @LeiSecaRJ</h4>
    <a class="twitter-timeline" href="https://twitter.com/LeiSecaRJ" data-widget-id="344941865793105920" data-link-color="" data-chrome="noscrollbar">Tweets by @LeiSecaRJ</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </section>
