  <section id="twitter-lei-seca">
    <%- include google-ads-square.html -%>
    <hr/>
    <h4>Twitter @LeiSecaRJ</h4>
    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
      new TWTR.Widget({
        version: 2, type: 'profile', rpp: 30, interval: 30000, width: 'auto', height: 3000,
        theme: { shell: { background: '#54b2ff', color: '#ffffff' }, tweets: { background: '#ffffff', color: '#000000', links: '#54b2ff' } }, features: { scrollbar: false, loop: false, live: true, behavior: 'all' }
      }).render().setUser('LeiSecaRJ').start();
    </script>
  </section>
