section.main {
  @include outer-container;
  margin-top: 16px;

  .sidebar {
    display: none;

    @include media ($large-screen) {
      display: initial;

      @include span-columns(2);

      &:last-child {
        @include omega;
      }
    }
  }

  .content {
    @include span-columns(12);
    @include media ($large-screen) {
      @include span-columns(8);
      padding-bottom: 120px;
    }

    h5 { margin-bottom: 8px; }

    .add-this,
    .time,
    .chrome-store,
    .fb-comments {
      margin-bottom: 7px;
      text-align: center;
      @include span-columns(12 of 12); // in mobile there's no sidebars
      @include omega;

      @include media ($large-screen) {
        @include span-columns(8 of 8);
      }
    }

    li.tab-header-and-content {
      section {
        padding: 0;
        overflow: visible;
      }

      // videos tab
      &:last-child {
        display: none;

        @include media ($large-screen) {
          display: initial;
          ul li {
            @include span-columns(6 of 8);
            @include shift;
            @include omega;
            overflow: hidden;
            & embed {
              position: relative;
              left: -60px;
            }
            &:hover{
              @include transform();
              box-shadow: 0 0;
            }
          }
        }
      }

      // cameras tab
      ul li {
        @include span-columns(12 of 12);
        @include omega;

        width: 310px;
        margin-bottom: 5px;

        @include media ($large-screen) {
          @include span-columns(4 of 8);
          @include omega(2n);
          width: 276px;
          margin-bottom: 15px;
        }

        @include transition(all 0.1s ease-in-out);

        p {
          padding: 8px 0;
          margin: 0 !important;
          text-align: center;
          font-size: x-small;
          background-color: #000;
          color: #fff;
          font-weight: bold;
        }

        img {
          -webkit-user-select: none;
        }

        @include media ($large-screen) {
          &:hover {
            @include transform(scale(1.5, 1.5));
            box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.75);
            z-index: 2;
          }
        }
      }
    }
  }
}

footer.main {
  display: none;

  @include media ($large-screen) {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 4px;
    background-color: $dark-gray;

    margin: 0 auto;
    text-align: center;
  }
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    background-color: #fff;
    position: fixed;
    top: 40px;
    left: 200px;
    right: 0;
    z-index: 1020;
    /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px;
    /* drop the border on the fixed edges */
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, 0.1);
    /*filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); # IE6-9 */

    .accordion-tabs {
      width: 938px;
      margin: 0 auto;
      padding: 0 1px;
    }
  }
  .subnav {
    .nav > li:first-child > a,
    .nav > li:first-child > a:hover {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
}
