@import 'normalize';
@import 'bootstrap-sprockets';

//= require_self

body {
  padding-top: 50px;
}
// bootstrap theme
@import 'variables';
@import 'bootstrap';
@import 'bootswatch';

iframe[seamless] {
  background-color: transparent;
  border: 0 none transparent;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

// center addthis sharing buttons
div.addthis_toolbox {
  width: 440px;
  margin: 0 auto;
}
