@import 'normalize';
@import 'bootstrap-sprockets';

//= require_self

body {
  padding-top: 100px;
}
@import 'bootstrap';

iframe[seamless] {
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow: hidden;
  position: absolute;
}

