!!! 5
%html(xmlns:fb='http://www.facebook.com/2008/fbml')

  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %meta(name="description"
          content="Cameras da CET-RIO (CET-RJ) em tempo real. Condições do trânsito ao vivo gratuitamente.")
    %meta(name="keywords"
          content="cameras,cet-rio,cetrj,cet rj,cet rio,ao vivo,cameras cet rio ao vivo,trânsito,linha vermelha,avenida brasil,linha amarela")
    %meta(name="google-site-verification" content="GPn-fQ7G3lPrvSTDtUtrRpkhz_O4S68K7Bmjm_FgxMA")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-touch-fullscreen" content="yes")
    %meta(property="fb:admins" content="506596308")
    = partial "fb-headers"

    %link(rel="canonical" href="http://www.camerasrj.com.br/")

    /[if lt IE 9]
      %script(defer=true src="//html5shiv.googlecode.com/svn/trunk/html5.js")

    :javascript
      window.appendScript = function (src) {
        var node = document.createElement('script');
        node.type = 'text/javascript';
        node.async = true;
        node.src = src;
        document.head.appendChild(node);
      }

    %title= current_page.data.title || "Câmeras da CET-RIO (CET-RJ) em tempo real. Condições do trânsito ao vivo gratuitamente"

  %body
    = yield

    = stylesheet_link_tag "all"

