<footer class="site-footer">
  <div class="footer-shell">
    <!-- Start of StatCounter Code for Default Guide -->
    <div class="statcounter">
      <a href="http://statcounter.com/" target="_blank" title="web analytics">
        <img alt="web analytics" class="statcounter" src="http://c.statcounter.com/6833115/0/729a8e46/0/">
      </a>
    </div>
    <!-- End of StatCounter Code for Default Guide -->
  </div>
  <p class="visually-hidden">&copy; 2022 MoniqueLive. All Rights Reserved. All Wrongs Reversed.</p>
</footer>
