<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <meta content='Cameras da CET-RIO (CET-RJ) em tempo real. Condições do trânsito ao vivo gratuitamente.' name='description'>
  <meta content='cameras,cet-rio,cetrj,cet rj,cet rio,ao vivo,cameras cet rio ao vivo,trânsito,linha vermelha,avenida brasil,linha amarela' name='keywords'>
  <meta content='GPn-fQ7G3lPrvSTDtUtrRpkhz_O4S68K7Bmjm_FgxMA' name='google-site-verification'>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover' name='viewport'>
  <meta content='yes' name='apple-mobile-web-app-capable'>
  <meta content='yes' name='apple-touch-fullscreen'>
  <meta content='506596308' property='fb:admins'>
  <meta name="google-adsense-account" content="ca-pub-7232537493483974">
  <link rel="stylesheet" href="/css/all.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style>
    .google-ads-responsive {
      margin: 10px 0;
    }
    .google-ads-responsive .adsbygoogle {
      min-height: 90px;
    }
    @media (max-width: 480px) {
      .google-ads-responsive {
        margin: 6px 0;
      }
      .google-ads-responsive .adsbygoogle {
        min-height: 60px;
      }
      .google-ads-responsive.ads-top {
        display: none;
      }
    }
  </style>

  {{- partial "fb-headers.html" . -}}

  <link href='https://www.camerasrj.com.br/' rel='canonical'>
  <!--[if lt IE 9]>
  <script src='//html5shiv.googlecode.com/svn/trunk/html5.js'></script>
  <![endif]-->
  <script>
    window.getScript = function (url, success, parentElement) {
      let done = false;
      const parent = parentElement || document.getElementsByTagName('head')[0];
      const script = document.createElement('script');
      script.src = url;
      script.onload = script.onreadystatechange = function () {
        if ( !done && (!this.readyState || this.readyState === 'loaded' || this.readyState === 'complete') ) {
          done = true;
          success();
          script.onload = script.onreadystatechange = null;
          parent.removeChild(script);
        }
      };
      parent.appendChild(script);
    };
  </script>
  <script>
    window.google_analytics_uacct = "UA-10270235-3";
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7232537493483974",
      enable_page_level_ads: true
    });
  </script>
  <title>Câmeras da CET-RIO (CET-RJ) em tempo real. Condições do trânsito ao vivo gratuitamente</title>
</head>
