<script>
    window.addthis_config = {
        data_track_clickback: true,
        data_ga_property: "UA-10270235-3",
        data_ga_social: true,
    };

    (function () {
        const menu = document.querySelector(".nav-menu");
        if (!menu) return;
        const mediaQuery = window.matchMedia("(min-width: 768px)");
        const syncMenu = function () {
            if (mediaQuery.matches) {
                menu.setAttribute("open", "");
            } else {
                menu.removeAttribute("open");
            }
        };
        syncMenu();
        if (mediaQuery.addEventListener) {
            mediaQuery.addEventListener("change", syncMenu);
        } else if (mediaQuery.addListener) {
            mediaQuery.addListener(syncMenu);
        }
    })();
</script>
<script async src="//s7.addthis.com/js/300/addthis_widget.js#pubid=lccro"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script defer src="/js/js.js"></script>
<script>
    if (window.init) {
        window.init();
    } else {
        window.addEventListener("DOMContentLoaded", function () {
            if (window.init) window.init();
        });
    }
</script>
