<section id='twitter-lei-seca'>
  <!-- partial 'google-ads-square' -->
  <hr>
  <h4>Twitter @LeiSecaRJ</h4>
  <a class='twitter-timeline' data-chrome='noscrollbar' data-link-color='' data-widget-id='344941865793105920' href='https://twitter.com/LeiSecaRJ'>Tweets by @LeiSecaRJ</a>
  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  </script>
  <hr>
</section>
