<section id='twitter-lei-seca'>
  <!-- partial 'google-ads-square' -->
  <hr>
  <h4>Twitter @LeiSecaRJ</h4>
  <a class="twitter-timeline" data-lang="pt" href="https://twitter.com/LeiSecaRJ?ref_src=twsrc%5Etfw">Tweets by LeiSecaRJ</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <!-- <a class='twitter-timeline' data-lang="pt" data-chrome='noscrollbar' data-link-color='' data-widget-id='344941865793105920' href='https://twitter.com/LeiSecaRJ?ref_src=twsrc%5Etfw'>Tweets by @LeiSecaRJ</a> -->
  <!-- <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
  <hr>
</section>
