<section class="twitter-panel" id="twitter-lei-seca">
  <!-- partial 'google-ads-square' -->
  <hr class="section-divider">
  <h3 class="twitter-title">Twitter @OperacoesRio</h3>
  <div class="twitter-embed">
    <a class="twitter-timeline" data-lang="pt" data-height="600" href="https://x.com/OperacoesRio">Tweets by OperacoesRio</a>
    <script async src="https://platform.x.com/widgets.js" charset="utf-8"></script>
  </div>

  <!-- <a class='twitter-timeline' data-lang="pt" data-chrome='noscrollbar' data-link-color='' data-widget-id='344941865793105920' href='https://x.com/LeiSecaRJ?ref_src=twsrc%5Etfw'>Tweets by @LeiSecaRJ</a> -->
  <!-- <script async src="https://platform.x.com/widgets.js" charset="utf-8"></script> -->
  <hr class="section-divider">
</section>
