%section.main

  %aside.sidebar
    = partial 'google-ads-vertical'

  %article.content
    %h5 DIVULGUE
    .add-this
      = partial 'add-this'

    .time
      %span<
        Atualizado &agrave;s&nbsp;
        %font(color="red")><
          %span#time
            %iframe(frameborder="0" allowtransparency="true" scrolling="no" seamless="seamless" width="100" height="16" src="http://cdn.camerasrj.com.br/cam/timestamp.html")

    .chrome-store
      %span.for-chrome-only(style="display:none;")<
        Veja as Cameras RJ diretamente no seu&nbsp;
        %a(onclick='ga("send", "event", "Chrome Store", "click");' href="https://chrome.google.com/webstore/detail/ajafcggbmpnnlpnncpppijjkhclneiag")><
          Navegador
        !

    %cameras-tabs
      %img-cameras
      %video-cameras

    .fb-comments
      %fb:comments(href="cetrio.cyberleo.com.br" num_posts="2" width="500" colorscheme="light")

  %aside.sidebar
    = partial 'twitter'

