%main.row

  %aside.sidebar.col-md-1.visible-lg-block
    / partial 'google-ads-vertical'

  %article.content.col-md-10
    .social-share.row(style="text-align:center;")
      .add-this.col-md-12
        %h5 DIVULGUE
        = partial 'add-this'

      .chrome-store.col-md-12
        %span.for-chrome-only(style="display:none;")<
          Veja as Cameras RJ diretamente no seu&nbsp;
          %a(onclick='ga("send", "event", "Chrome Store", "click");' href="https://chrome.google.com/webstore/detail/ajafcggbmpnnlpnncpppijjkhclneiag")><
            Navegador
          !

    .time.row(style="text-align:center;")
      %span.col-md-12<
        Atualizado em tempo real

    /= partial 'cameras'
    = partial 'cor'

    .row
      .fb-comments.col-md-10(style="text-align:center;")
        %fb:comments(href="cetrio.cyberleo.com.br" num_posts="2" width="500" colorscheme="light")

  %aside.sidebar.col-md-1.visible-lg-block
    = partial 'twitter'

