%section.main

  %aside.sidebar
    = partial 'google-ads-vertical'

  %article.content
    %h5 DIVULGUE
    .add-this
      = partial 'add-this'

    .time
      %span<
        Atualizado &agrave;s&nbsp;
        %font(color="red")><
          %span#time
            %iframe(frameborder="0" allowtransparency="true" scrolling="no" seamless="seamless" width="100" height="16" src="http://cdn.camerasrj.com.br/cam/timestamp.html")

    .chrome-store
      %span.for-chrome-only(style="display:none;")<
        Veja as Cameras RJ diretamente no seu&nbsp;
        %a(onclick='ga("send", "event", "Chrome Store", "click");' href="https://chrome.google.com/webstore/detail/ajafcggbmpnnlpnncpppijjkhclneiag")><
          Navegador
        !

    %ul.accordion-tabs(ng-controller='TabsCtrl as ctrl')
      =# every image camera
      %li(class='tab-header-and-content' ng-repeat='tab in ctrl.tabs')
        %a(href class="tab-link" ng-class="{'is-active':ctrl.isSelected($index)}" ng-click="ctrl.setActiveTab($index); ga('send', 'event', 'Zona', '{{tab.title}}');") {{tab.title}}
        %section(ng-class="{'is-open':ctrl.isSelected($index)}" ng-show="ctrl.isSelected($index)")
          %ul
            %li(ng-repeat='cam in tab.cameras' ng-style="{background: 'url({{CAM_PREFIX}}/{{cam.id}}.gif) no-repeat center'}")
              %p.caption {{cam.caption}}
              %img(ng-src="{{CAM_PREFIX + '/' + cam.id}}.jpg")
      =# extra: live cams
      %li(class='tab-header-and-content')
        %a(href class="tab-link" ng-class="{'is-active':ctrl.isSelected(-1)}" ng-click="ctrl.setActiveTab(-1); ga('send', 'event', 'Zona', 'AoVivo');") AoVivo
        %section(ng-class="{'is-open':ctrl.isSelected(-1)}" ng-show="ctrl.isSelected(-1)")
          %ul
            %li(ng-repeat='cam in ctrl.live')
              %p.caption {{cam.caption}}
              %embed(src         = "http://radar.g1.globo.com/FinxiPlayer.swf"
                     flashvars   = "urlMedia={{LIVE_PREFIX + cam.url}}"
                     width       = "476"
                     height      = "238"
                     quality     = "high"
                     align       = "middle"
                     type        = "application/x-shockwave-flash"
                     pluginspage = "http://www.adobe.com/go/getflashplayer")

    .fb-comments
      %fb:comments(href="cetrio.cyberleo.com.br" num_posts="2" width="500" colorscheme="light")

  %aside.sidebar
    = partial 'twitter'

