= partial 'cameras'

%section.main

  %aside.sidebar
    -#= partial 'google-ads-vertical'

  %article.content
    .social-share
      %h5 DIVULGUE
      -#.add-this
        = partial 'add-this'
      .chrome-store
        %span.for-chrome-only(style="display:none;")<
          Veja as Cameras RJ diretamente no seu&nbsp;
          %a(onclick='ga("send", "event", "Chrome Store", "click");' href="https://chrome.google.com/webstore/detail/ajafcggbmpnnlpnncpppijjkhclneiag")><
            Navegador
          !

    .time
      %span<
        Atualizado &agrave;s&nbsp;
        %font(color="red")><
          %span#time

    .fb-comments
      %fb:comments(href="cetrio.cyberleo.com.br" num_posts="2" width="500" colorscheme="light")

  %aside.sidebar
    -#= partial 'twitter'
