%ul.nav.nav-tabs(role="tablist")
  - data.cameras.areas.each_with_index do |(area, cameras), index|
    - first = index.zero?
    %li(role="presentation" class="#{first ? 'active' : ''}")
      %a(href="##{area.underscore.dasherize}"
        onclick="ga('send', 'event', 'Zona', '#{area}')"
        data-toggle="tab")= area

%div.cameras-tabs.tab-content

