%main.cameras-tabs.mdl-layout__content
  - data.cameras.areas.each_with_index do |(area, cameras), i|
    %section(class="mdl-layout__tab-panel#{i.zero? ? ' is-active':''}" id="area-#{area.underscore.dasherize}")
      .page-content.mdl-grid
        - h = SecureRandom.uuid.gsub(/-/,'')
        - cameras.each do |hash|
          - id = hash.keys.first
          - caption = hash.values.first
          - if id =~ /@/
            = partial 'live-cam', locals: {caption: caption, id: id, h: h}
          - else
            = partial 'cetrio-cam', locals: {caption: caption, id: id, h: h}
