:javascript
  window.appendScript("//static.getclicky.com/js");
  try{ clicky.init(100583657); }catch(e){}
%noscript<
  %p<
    %img(alt="Clicky" width="1" height="1" src="//in.getclicky.com/100583657ns.gif")
