%br
= partial 'google-ads-horizontal'
%br

%a(class="twitter-timeline" data-lang="pt" href="https://twitter.com/OperacoesRio?ref_src=twsrc%5Etfw")
  Tweets de OperacoesRio

%script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")
%br

= partial 'google-ads-horizontal'
