%footer.navbar.navbar-default.navbar-fixed-bottom.navbar-inverse
  .container-fluid(style="text-align:center;")
    .row
      .col-md-12
        %script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        :javascript
            (adsbygoogle = window.adsbygoogle || []).push({
                  google_ad_client: "ca-pub-7232537493483974",
                  enable_page_level_ads: true
            });
    .row
      .col-md-12
        / Start of StatCounter Code for Default Guide
        .statcounter<
          %a(title="web analytics" href="http://statcounter.com/" target="_blank")<
            %img(class="statcounter" src="http://c.statcounter.com/6833115/0/729a8e46/0/" alt="web analytics")
        / End of StatCounter Code for Default Guide
  %p(style="display:none") &copy; 2018 CyberLeo. All Rights Reserved. All Wrongs Reversed.
