%section#square-ad
  %div(style="width:300px; height:250px; overflow:hidden;")
    %script(async=true src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    %ins(class="adsbygoogle"
        style="display:inline-block;width:300px;height:250px"
        data-ad-client="ca-pub-7232537493483974"
        data-ad-slot="6267804861")
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
