%section#google-ads-horizontal
  %div(style="width:728px; height:90px; margin: 0 auto; overflow:hidden;")
    %script(async=true src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    %ins(class="adsbygoogle"
        style="display:inline-block;width:728px;height:90px"
        data-ad-client="ca-pub-7232537493483974"
        data-ad-slot="0601227726")
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
