%section#google-ads-vertical.hidden-phone
  %div(style="width:150%;padding:8px;background-color:rgb(255,230,230);float:right;margin-bottom:12px")
    %h4 Dropbox
    Ainda n&atilde;o usa Dropbox? <a href="http://db.tt/q7funZF">Clique aqui</a>.

  %div(style="width:160px; height:600px; float:right; overflow:hidden;")
    %script(async=true src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    %ins(class="adsbygoogle"
        style="display:inline-block;width:160px;height:600px"
        data-ad-client="ca-pub-7232537493483974"
        data-ad-slot="4997183664")
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
