%section#square-ad
  %div(style="width:336px; height:280px; overflow:hidden;")
    %ins(class="adsbygoogle"
        style="display:inline-block;width:336px;height:280px"
        data-ad-client="ca-pub-7232537493483974"
        data-ad-slot="2880551660")
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
