%section#google-ads-vertical.hidden-phone
  %div(style="width:150%;padding:8px;background-color:rgb(255,230,230);float:right;margin-bottom:12px")
    %h4 Dropbox
    Ainda n&atilde;o usa Dropbox? <a href="http://db.tt/q7funZF">Clique aqui</a>.

  %div(style="width:160px; height:600px; float:right; overflow:hidden;")
    %ins(class="adsbygoogle"
         style="display:block;width:160px;height:600px"
         data-ad-client="ca-pub-7232537493483974"
         data-ad-slot="1282434868"
         data-ad-format="auto")
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
