%section#google-ads-horizontal
  %div(style="width:728px; height:90px; overflow:hidden; margin:0 auto;")
    %ins(class="adsbygoogle"
        style="display:block;width:728px;height:90px"
        data-ad-client="ca-pub-7232537493483974"
        data-ad-slot="5213106864"
        data-ad-format="auto")
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
