%header.mdl-layout__header.mdl-color--primary
  .mdl-layout__header-row
    %h3.mdl-layout-title Câmeras da CET-RIO
    %section(style="display:none;margin-bottom: 0")
      %h1<
        %a(href="/") Câmeras da CET-RIO (CET-RJ) em tempo real
      %h2 Condições do trânsito ao vivo e de graça!

    %span.mdl-layout-spacer

    .mdl-layout--large-screen-only.mdl-layout__header-row
      %nav.mdl-navigation
        %a.mdl-navigation__link(href="http://cyberleo.com.br/") Home
        %a.mdl-navigation__link(href="http://cyberleo.com.br/") Sobre
        %a.mdl-navigation__link(href="http://cyberleo.com.br/ask") Contato

    %span.mdl-layout-spacer

    %form#cse-search-box(action="http://www.google.com.br" target="_blank")
      %input(type="hidden" name="cx" value="partner-pub-7232537493483974:4174415669")
      %input(type="hidden" name="ie" value="UTF-8")
      .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--align-right
        %label.mdl-button.mdl-js-button.mdl-button--icon(for="google-search")
          %i.material-icons search
        .mdl-textfield__expandable-holder
          %label.mdl-textfield__label(for="google-search") Buscar no Google
          %input.mdl-textfield__input(type="search" name="q" id="google-search")
      %button(type="submit" name="sa" style="display:none")

  .mdl-layout__tab-bar.mdl-js-ripple-effect
    - data.cameras.areas.each_with_index do |(area, cameras), i|
      %a(href="#area-#{area.underscore.dasherize}"
        class="mdl-layout__tab#{i.zero? ? ' is-active' : ''}"
        onclick="ga('send', 'event', 'Zona', '#{area}')")= area

  .mdl-layout__drawer
    %span.mdl-layout-title Câmeras da CET-RIO

  -#= render 'github'
