%header.navigation
  .menu-wrapper
    %section(id="header-well" style="display:none;margin-bottom: 0")
      %h1<
        %a(href="/") Câmeras da CET-RIO (CET-RJ) em tempo real
      %h2 Condições do trânsito ao vivo e de graça!

    %a.logo(href="/")
      %h3
        Câmeras da CET-RIO

    %p.navigation-menu-button#js-mobile-menu MENU

    .nav
      %ul#navigation-menu
        %li.navigation-search-bar
          .search-bar
            .search-and-submit
              %form(class="navbar-search" action="http://www.google.com.br/cse" target="_blank")
                %input(type="hidden" name="cx" value="partner-pub-7232537493483974:4067985243")
                %input(type="hidden" name="ie" value="UTF-8")
                %input(type="search" name="q" size="80" id="googleSearchBox" placeholder="Clique aqui para buscar no Google" class="search-query")
                %button(style="margin:0" class="btn btn-mini btn-primary" type="submit" name="sa") Pesquisar
        %li<
          %a(href="http://cyberleo.com.br/") Home
        %li<
          %a(href="http://cyberleo.com.br/") Sobre
        %li<
          %a(href="http://cyberleo.com.br/ask") Contato

    =# render 'github'

