%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %span(style="display:none")
        %h1<
          %a(href="/") Câmeras da CET-RIO (CET-RJ) em tempo real
        %h2 Condições do trânsito ao vivo e de graça!
      %button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href="#")Câmeras da CET-RIO

    <!-- Collect the nav links, forms, and other content for toggling -->
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %form.navbar-form.navbar-right#cse-search-box(action="http://www.google.com.br" target="_blank")
        %input(type="hidden" name="cx" value="partner-pub-7232537493483974:4174415669")
        %input(type="hidden" name="ie" value="UTF-8")
        .form-group
          %input.form-control(type="search" name="q" id="google-search" placeholder="Google")
        %button.btn.btn-default(type="submit" name="sa") Buscar

      %ul.nav.navbar-nav.navbar-right
        %li<
          %a(href="http://cyberleo.com.br/") Home
        %li<
          %a(href="http://cyberleo.com.br/") Sobre
        %li<
          %a(href="http://cyberleo.com.br/ask") Contato

    =# render 'github'

