:javascript
  var addthis_config = {data_track_clickback:true,data_ga_property:'UA-10270235-3',data_ga_social:true};
  window.getScript('http://s7.addthis.com/js/300/addthis_widget.js#pubid=lccro', function(){});
  window.getScript("http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", function(){});
  window.getScript("http://adrequisitor-af.lp.uol.com.br/uolaf.js", function(){}, document.getElementById("uol-ads"));
  window.getScript('/javascripts/all.js',function(){ init(); });
