:javascript
  (function() {
    function getScript(url,success){
      var script=document.createElement('script');
      script.src=url;
      var head=document.getElementsByTagName('head')[0],
      done=false;
      script.onload=script.onreadystatechange = function(){
        if ( !done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete') ) {
          done=true;
          success();
          script.onload = script.onreadystatechange = null;
          head.removeChild(script);
        }
      };
      head.appendChild(script);
    }
    getScript('//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js',function(){
      if (navigator.userAgent.match(/Chrome/i))
        $(".for-chrome-only").fadeIn()
      $('a.addthis_button_facebook_like').bind('edge.create', function (targetUrl) {
        ga('send', 'social', 'facebook', 'like', targetUrl]);
      });
      $('a.addthis_button_facebook_like').bind('edge.remove', function (targetUrl) {
        ga('send', 'social', 'facebook', 'unlike', targetUrl]);
      });
      $('a.addthis_button_tweet').bind('tweet', function (event) {
        if (event) {
          var targetUrl;
          if (event.target && event.target.nodeName == 'IFRAME') {
            targetUrl = extractParamFromUri(event.target.src, 'url');
          }
          ga('send', 'social', 'twitter', 'tweet', targetUrl]);
        }
      });
      getScript('/javascripts/jquery.smooth-scroll.min.js',function(){});
      getScript('/javascripts/bootstrap.min.js',function(){});
      getScript('/javascripts/js.js',function(){});
    });
  })();
