%section#twitter-lei-seca
  = partial 'google-ads-square'
  %hr/
  %h4 Twitter @LeiSecaRJ
  %a.twitter-timeline(href="https://twitter.com/LeiSecaRJ" data-widget-id="344941865793105920" data-link-color="" data-chrome="noscrollbar")<
    Tweets by @LeiSecaRJ
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
