%section.ads-horizontal
  %div#uol-ads(style="width:728px; height:90px; margin: 0 auto; overflow:hidden;")
    :javascript
      descrColor="000000"; titleColor="000000"; urlColor="A6A6A6";
      borderColor="FFFFFF"; bgColor="FFFFFF"; altColor="FFFFFF";
      coddisplaysupplier="cb04d3fe2d604bfdb8ae1894dac7c7e9";
      formatId="1"; numads="4"; deslabel="rodape"; type="1";

