-#= partial 'fb-js'
= partial 'header'

= partial 'body'

-#= partial 'footer'
= partial 'analytics'
= partial 'js'

:javascript
  window.google_analytics_uacct = "UA-10270235-3";

-#%a(style="display:none" href="https://plus.google.com/117458514287027144391?rel=author")
  Google
